
# AWS Backend Configuration (Template)

spring.datasource.url=jdbc:mysql://<RDS_ENDPOINT>:3306/accounts
spring.datasource.username=admin
spring.datasource.password=<RDS_PASSWORD>

spring.cache.memcached.servers=<ELASTICACHE_ENDPOINT>:11211

spring.rabbitmq.host=<AMAZON_MQ_ENDPOINT>
spring.rabbitmq.port=5671
spring.rabbitmq.username=rabbit
spring.rabbitmq.password=<RABBITMQ_PASSWORD>
